header
{background-color: #8FBC8F;
  font-family: "times";
  font-size: 48px;
  padding-bottom: 2px;
}
h2
{background-color:oldlace;
padding-top: 24px;}

h3
{background-color: #8FBC8F;
  font-family: "times";
  font-size: 18px;
  padding-top: 0px;
}

aside {
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
  float: left;
  background-color:oldlace;
}
footer
{background-color: #5ce1f4;
  font-family: "copperplate", fantasy;
  font-size: 1em;
}
